<template>
    <div class="container">
        <div class="row">
            <HeaderForTesting/>
<!--            <span v-if="this.get_true_dict_for_exam[question_number].toString() == this.get_dict_for_test[question_number].toString()" class="glyphicon glyphicon-ok" style="color: green" aria-hidden="true"></span>-->
<!--            <span v-if="!get_true_dict_for_exam[question_number][answer_number-1]" class="glyphicon glyphicon-remove" style="color: red" aria-hidden="true"></span>-->
            <div class="col-12">
                <UlForTestWithAnswers
                        v-for="i in get_active_theme['questions_amount']"
                        v-if="get_active_question == i"
                        :question_number="i"
                        :key="i"/>
            </div>
            <div class="fixed-bottom">
                <ButtonPrevious/>
                <ButtonNext/>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'
    import ButtonNext from '../ButtonNext'
    import UlForTestWithAnswers from './UlForTestWithAnswers'
    import ButtonPrevious from '../ButtonPrevious'
    import HeaderForTesting from "../HeaderForTesting";
    import ButtonEndExam from "../exam/ButtonEndExam";

    export default {
        name: "TestWithAnswers",
        components: {ButtonEndExam, HeaderForTesting, ButtonNext, ButtonPrevious, UlForTestWithAnswers},
        methods: {

        },
        computed: {
            ...mapGetters(['get_active_question', 'get_active_theme', 'get_true_dict_for_exam', 'get_dict_for_test'])
        }
    }
</script>

<style scoped>

</style>