<template>
    <div class="container">
        <div class="row">
            <HeaderForTesting/>
            <div class="col-12">
                <UlForShowAnswers
                        v-for="i in get_active_theme['questions_amount']"
                        v-if="get_active_question == i"
                        :key="i"/>
            </div>
            <div class="fixed-bottom">
                <ButtonPrevious/>
                <ButtonNext/>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'
    import UlForShowAnswers from "./UlForShowAnswers";
    import ButtonPrevious from "../ButtonPrevious";
    import ButtonNext from "../ButtonNext";
    import HeaderForTesting from "../HeaderForTesting";

    export default {
        name: "ShowAnswers",
        components: {HeaderForTesting, ButtonNext, ButtonPrevious, UlForShowAnswers},
        computed: {
            ...mapGetters(['get_active_question', 'get_active_theme'])
        },
    }
</script>

<style scoped>

</style>