<template>

    <div class="col-sm-6 col-lg-4 m-0 p-1">
<!--        <div class="block box m-1 p-2 d-flex justify-content-center flex-column">-->
        <div class="d-flex block justify-content-center flex-column">
            <p class="m-1">
                {{name}}
            </p>
        </div>
    </div>
</template>

<script>
    export default {
        name: "ThemeTile",
        props: ['name']
    }
</script>

<style lang="scss">

</style>