<template>
    <div>
        <div class="col-6">
            {{get_active_question + '/' + get_active_theme['questions_amount']}}
        </div>
        <div v-if="this.get_variant_of_testing == 'exam'" class="col-6">
            {{ mins + ':' + secs}}
        </div>
        <div class="col-12 text-center">
            {{get_active_theme ? get_active_theme['questions'][get_active_question - 1]['name'] : ''}}
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'

    export default {
        name: "HeaderForTesting",
        computed: {
            ...mapGetters(['get_active_question', 'get_active_theme', 'get_variant_of_testing'])
        },
        data: function () {
            return{
                mins : 29,
                secs : 59,
                time_left: 1800
            }
        },
        methods: {
            countDown() {
                if (this.time_left && !(this.get_variant_of_testing == 'exam_end')) {
                    return setTimeout(() => {
                        --this.time_left
                        this.mins = Math.floor(this.time_left / 60)
                        this.secs = this.time_left % 60
                        if (this.secs < 10) {
                            this.secs = '0' + this.secs.toString()
                        }
                        this.countDown()
                    }, 1000)
                }
                else {
                    this.$store.dispatch('setStoreVariantOfTesting', 'exam_end')
                    this.$store.dispatch('setStoreTimeOfExam', (this.minutsToString(this.mins) + this.secondToString(this.secs)))
                }
            },
            secondToString(count) {
                count = (59 - parseInt(count)) % 10
                if (count == 0) {
                    return ''
                }
                else if ([1].indexOf(count) != -1) {
                    return (count.toString() + ' секунда')
                }
                else if ([2, 3, 4].indexOf(count) != -1) {
                    return (count.toString() + ' секунды')
                }
                else if ([1, 2, 3, 4].indexOf(count) == -1) {
                    return (count.toString() + ' секунд')
                }
            },
            minutsToString(count) {
                count = (29 - parseInt(count)) % 10
                if (count == 0) {
                    return ''
                }
                else if ([1].indexOf(count) != -1) {
                    return (count.toString() + ' минута ')
                }
                else if ([2, 3, 4].indexOf(count) != -1) {
                    return (count.toString() + ' минуты ')
                }
                else if ([1, 2, 3, 4].indexOf(count) == -1) {
                    return (count.toString() + ' минут ')
                }
            }
        },
        mounted() {
            this.countDown()
        }
    }
</script>

<style scoped>

</style>