<template>
    <div class="container">
        <div class="row">
<!--            <ThemeTile v-if="!get_active_theme" v-for="i in get_themes_len" :name="get_themes_names[i - 1]" :i="i"></ThemeTile>-->
            <ActionChoice v-if="get_active_theme && !get_variant_of_testing"></ActionChoice>
            <ShowAnswers v-if="get_variant_of_testing == 'showAnswers'"></ShowAnswers>
            <TestWithAnswers v-if="get_variant_of_testing == 'testWithAnswers'"></TestWithAnswers>
            <Exam v-if="get_variant_of_testing == 'exam'"></Exam>
            <ListOfAnswers v-if="get_variant_of_testing == 'listOfAnswers'"></ListOfAnswers>
            <ExamEnd v-if="get_variant_of_testing == 'exam_end'"></ExamEnd>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'
    // import ThemeTile from './home/ThemeTile'
    import ActionChoice from './action_choice/ActionChoice'
    import ShowAnswers from './show_answers/ShowAnswers'
    import TestWithAnswers from './test_with_answers/TestWithAnswers'
    import ExamEnd from './exam/ExamEnd'
    import Exam from "./exam/Exam";
    import ListOfAnswers from "./list_of_answers/ListOfAnswers";

    export default {
        name: "MainContent",
        components: {ListOfAnswers, Exam, ActionChoice, ShowAnswers, TestWithAnswers, ExamEnd},
        methods: {
        },
        computed: {
            ...mapGetters(['get_themes_len', 'get_themes_names', 'get_active_theme', 'get_active_question', 'get_variant_of_testing']),
        },
    }
</script>

<style scoped>
    .container {
        min-height: 100vh;
    }
</style>