<template>
    <nav class="navbar">
        <form v-if="!get_active_theme" class="input-group col-5" @submit.prevent="Search">
            <input class="form-control" type="text" placeholder="Найти тему..." v-model="inputText" @keyup="Search">
            <div class="input-group-append">
                <button class="btn btn-dark" type="submit">Поиск</button>
            </div>
        </form>
        <button v-if="get_active_theme" @click="setDeactiveTheme" class="btn btn-dark">Выход из темы</button>
        <!-- TODO 'back' button -->
    </nav>
</template>

<script>
    import {mapGetters} from 'vuex'
    export default {
        name: "NavigateBar",
        data() {
            return {
                inputText: ''
            }
        },
        methods: {
            setDeactiveTheme() {
                this.$store.dispatch('setStoreActiveTheme', ['option', false])
                this.$store.dispatch('setStoreActiveQuestion', false)
                this.$store.dispatch('setStoreVariantOfTesting', false)
                this.$store.dispatch('setStoreClearDictForTest')
                this.$router.push('/themes')
            },
            Search() {
                this.$store.dispatch('setStoreThemeNamePart', this.inputText)
            }
        },
        computed: {
            ...mapGetters(['get_active_theme']),
        },
    }
</script>

<style scoped>
    .navbar {
        height: 50px;
        background-color: #3697ff;
    }
</style>