<template>
    <div class="col-12">
        <h2>hello</h2>
        <router-link class="btn btn-lg btn-dark" to="/themes">fgrtdtbrtbrtbrdf</router-link>
        <!-- TODO resize tests for mobile -->
    </div>
</template>

<script>
    export default {
        name: "Welcome"
    }
</script>

<style scoped>

</style>