<template>
    <div class="container">
    <div class="row">
        <div class="col-12">
            Время выполнения: {{get_time_of_exam}}
        </div>
        <div class="col-12">
            Ваш результат: {{get_correct_answers_exam}}/30
        </div>
    </div>
        <EndExamQuestion
                class="rounded"
                v-for="i in 30"
                :question_number="i"
                :key="i"/>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'
    import EndExamQuestion from "./EndExamQuestion";

    export default {
        name: "ExamEnd",
        components: {EndExamQuestion},
        computed: {
            ...mapGetters(['get_time_of_exam', 'get_true_dict_for_exam', 'get_dict_for_test', 'get_active_theme', 'get_correct_answers_exam'])
        },
    }
</script>

<style scoped>

</style>