<template>
    <div class="container">
        <div class="row">
            <HeaderForTesting/>
<!--            {{get_true_dict_for_exam}}<br/>-->
<!--            {{get_dict_for_test}}-->
            <div class="col-12">
                <UlForTestWithAnswers
                        v-for="i in get_active_theme['questions_amount']"
                        v-if="get_active_question == i"
                        :question_number="i"
                        :key="i"/>
            </div>
            <div class="fixed-bottom">
                <ButtonPrevious/>
                <ButtonEndExam/>
                <ButtonNext/>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'
    import ButtonNext from '../ButtonNext'
    import UlForTestWithAnswers from '../test_with_answers/UlForTestWithAnswers'
    import ButtonPrevious from '../ButtonPrevious'
    import HeaderForTesting from "../HeaderForTesting";
    import ButtonEndExam from "../exam/ButtonEndExam";

    export default {
        name: "Exam",
        components: {ButtonEndExam, HeaderForTesting, ButtonNext, ButtonPrevious, UlForTestWithAnswers},
        methods: {

        },
        computed: {
            ...mapGetters(['get_active_question', 'get_active_theme', 'get_dict_for_test', 'get_variant_of_testing', 'get_true_dict_for_exam'])
        }
    }
</script>

<style scoped>

</style>