<template>
    <div>
        <NavigateBar v-if="this.$route.path != '/'"/>
        <!-- TODO dark theme -->
        <Loader v-if="get_loading"/>
        <router-view/>
    </div>
</template>

<script>
    import NavigateBar from './components/NavigateBar'
    import MainContent from './components/MainContent'
    import {mapGetters} from 'vuex'
    import Loader from "./components/Loader";

    export default {
        name: "App",
        components: {Loader, NavigateBar},
        computed: {
            ...mapGetters(['get_loading'])
        }
    };
</script>
<style lang="scss">
    @import './scss/main'
</style>