.answer {
  &:hover {
    cursor: pointer;
  }
}

.main_block {
  background-color: white;
  min-height: 100vh;
}

.turn_screen {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: white;
  top: 0;
  z-index: 1;
}

.block {
  background-color: #dff1df;
  height: 100%;
  &.theme_block {
    min-height: 40px;
  }
  &.choice{
    min-height: 50px;
  }
  p {
    text-align: center;
  }

  &:hover {
    cursor: pointer;
    background-color: #c2d1c2;
  }
}

@media only screen and (min-width: 321px) and (orientation: landscape) {
  .turn_screen {
    display: block;
  }
}
@media only screen and (min-width: 321px) and (orientation: portrait) {
  .turn_screen {
    display: none;
  }
}
@media only screen and (min-width: 1000px) and (orientation: landscape) {
  body {
    background-color: #626262;
    .turn_screen {
      display: none;
    }

    .main_block {
      margin-top: 1vh;
      margin-bottom: 1vh;
      min-height: 98vh;
      max-width: 50%;
    }
  }
}