<template>
    <div class="container">
        <div class="row">
            <ChoiceBlock
                    @click.native="exam"
                    :text="'Экзамен'"/>
            <ChoiceBlock
                    @click.native="showAnswers"
                    :text="'Тесты с ответами'"/>
            <ChoiceBlock
                    @click.native="testWithAnswers"
                    :text="'Обучение'"/>
            <ChoiceBlock
                    @click.native="listOfAnswers"
                    :text="'Список вопросов'"/>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'
    import ChoiceBlock from "./ChoiceBlock";

    export default {
        name: "ActionChoice",
        components: {ChoiceBlock},
        methods: {
            exam() {
                this.$store.dispatch('setStoreActiveTheme', ['exam', this.get_active_theme])
                this.$store.dispatch('setStoreActiveQuestion', 1)
                this.$store.dispatch('setStoreVariantOfTesting', 'exam')
                this.$router.push('/exam')
            },
            showAnswers() {
                this.$store.dispatch('setStoreActiveTheme', ['test', this.get_active_theme])
                this.$store.dispatch('setStoreActiveQuestion', 1)
                this.$store.dispatch('setStoreVariantOfTesting', 'showAnswers')
                this.$router.push('/show_answers')
            },
            testWithAnswers() {
                this.$store.dispatch('setStoreActiveTheme', ['test', this.get_active_theme])
                this.$store.dispatch('setStoreActiveQuestion', 1)
                this.$store.dispatch('setStoreVariantOfTesting', 'testWithAnswers')
                // this.$store.dispatch('setStoreNewQuestionToTestWithAnswers', [this.get_active_question, new Array(parseInt(this.get_active_theme['questions'][this.get_active_question]['answers_amount'])).fill(false)])
                this.$router.push('/test_with_answers')
            },
            listOfAnswers() {
                this.$store.dispatch('setStoreVariantOfTesting', 'listOfAnswers')
            }
        },
        computed: {
            ...mapGetters(['get_active_theme', 'get_active_question'])
        },
    }
</script>

<style scoped>
    .block {
        background-color: #dff1df;
    }
</style>