<template>
    <div class="col-12 col-md-6 m-0 p-1">
        <div class="block choice d-flex justify-content-center flex-column">
            <p class="m-0">
                {{text}}
            </p>
        </div>
    </div>
</template>

<script>
    export default {
        name: "ChoiceBlock",
        props: ['text']
    }
</script>

<style scoped>
    .block {
        background-color: #dff1df;
    }
</style>